/* ---------------------------------- Quill --------------------------------- */
.ql-container {
	border: none !important;
	min-height: 250px;
}

.ql-toolbar {
	background: tan;
	border: none !important;
	border-radius: 10px;
	color: white;
}

.ql-editor {
	box-shadow: -4px -4px 8px 0px #c7c7c7 inset, 5px 5px 10px 1px #f8f8f8 inset;
}

/* ---------------------------------- Input --------------------------------- */
form input {
	all: unset;
	vertical-align: center;
	width: 100%;
}

.field-body .control {
	display: flex;
}

/* -------------------------------- Scrollbar ------------------------------- */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: tan #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: tan;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
