@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins';
}
.container{        
    gap: 20px;
}

.card-container{
    background:"#7E9AFD";
    border:"1px solid #0038FF";
    font-family:"Poppins";
    border-radius:"2rem"
}

.title-container{
    margin: auto; 
}

.card-info{
    list-style: none;
    padding: 10px 30px;
    background-color: #A1D4F6;
    border-radius: 5px;
}

.card-info:hover{
    cursor: pointer;
    background-color: #61BBF8;
}

