@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins';
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;        
}

.container h1{
    margin-top: 3rem;
    text-align: center;
}

.container table{
    margin: auto;
    margin-top: 2rem;
}
.iconContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 5%;
}
  .updateIcon{
    margin: 2px;
    cursor: pointer;
  }
  .deleteIcon{
    margin: 2px;
    cursor: pointer;
  }