.new-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-align: start;
}

.new-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: start;
}

.new-image {
  height: auto;
}

@media screen and (max-width: 768px) {
  .new-image {
    height: 300px;
  }
}
