.news-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}
.news-detail-title {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
}
.news-detail-body {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
  margin-top: 20px;
}
.news-detail-image {
  border-radius: 0px;
  margin-top: 20px;
  max-height: 60vh;
  height: 300px;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .news-detail-image {
    height: 600px;
    border-radius: 10px;
    width: 66%;
  }
}

@media screen and (min-width: 768px) {
  .news-detail-image {
    width: 53%;
  }
}
